#top-toolbar {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
}

#top-toolbar button {
  background-color: transparent;
  border: 0px;
  color: whitesmoke
}

#top-toolbar #file-name {
  margin-left: auto;
  padding-right: 2%;
}

#left-toolbar {
  float: left;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#left-toolbar button {
  background-color: lightgray;
  border: 0px;
  color: black;
}