#app{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
}

#app #side-by-side {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  min-height: 0;
}